@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

nav header {
    max-width: 100% !important;
    padding: 0 !important;
}

nav header ul {
    max-width: 100% !important;
}

ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

section {
    overflow-y: visible !important;
}

input:focus-visible{
    border: none !important;
}